html {
  font-size: 62.5%; 
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
}
body  {
  overflow-x: hidden;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.6rem; 
  overflow-x: hidden;
}
nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
background-color: #3f713f;
padding: 2rem 0;
}
nav img {
    width: 4rem;
}
nav input {
    width: 30%;
    padding-left: 1rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

}
.reset {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
}
.film {
    width: 25rem;
    overflow: hidden;
    height: 50rem;
    border-radius: 3rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border: thin solid black;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    transition: all 0.5s ease;
}
.film:hover {
    transform: translateY(-1.5rem);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}
.film p {
    
    border-radius: 0.8rem;
    padding: 0.5rem;
    background-color: rgb(237, 236, 236);
}
.film img {
    width: 100%;
    height: 35rem;
    object-fit: cover;
   
}
.categories {
    display: flex;
    justify-content: space-around;
}
.but {
    text-align: center;
}
.but button {
    margin-bottom: 1rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border: none;

}
.genres {
    text-wrap: nowrap;
    overflow: auto;
}
.film button {
    width: 90%;
    padding: 1rem;
border-radius: 1.6rem;
background-color: rgb(63, 113, 63);
color: white;
margin-top: 1.6rem
}

main {
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.filt {
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #eaeff0;
    padding: 2rem;
    border: thin solid black;
    border-radius: 2rem;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden; 
    pointer-events: none; 
    display: flex;
}

.filt.open {
    opacity: 1;
    visibility: visible; 
    pointer-events: auto; 
    z-index: 10000;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.filt.deleted {
    opacity: 0;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 1rem;
    justify-content: space-evenly;
}
.genres input {
    margin-right: 1rem;
}
.genres h3 {
    width: 100%;
}
.radios {
    display: flex;
    width: 50%;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.rating {
    text-align: center;
}
.yearOfCreation {
    text-align: center;

}.filminfo {
    left: 50%;
    transform: translateX(-50%) translateY(100%); /* Начальная позиция - полностью снизу */
    position: fixed;
    opacity: 0;
    visibility: hidden; 
    pointer-events: none; 
    background-color: aliceblue;
    bottom: 0;
    border-radius: 2rem;
    overflow: hidden;
    z-index: 1000;
    display: flex;
    align-items: start;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease; 
}
.poster{
    width: 25rem;
}
.filminfo.open {
    visibility: visible;
    opacity: 100;
    pointer-events: all;  
    transform: translateX(-50%) translateY(0); 
}
.filminfo.closing {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
}
.closed {
    position: absolute;
    width: 5rem;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
    background-color: rgb(159, 164, 169);
    border-radius: 1rem;
    padding: 0.4rem;
}
.params {
    display: flex;
    height: 21rem;
    justify-content: space-between;
    flex-direction: column;
    align-content: space-between;
    align-items: start;
    padding: 3rem;
}