html {
  font-size: 62.5%; 
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
}
body  {
  overflow-x: hidden;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.6rem; 
  overflow-x: hidden;
}
nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
background-color: rgb(224, 245, 179);
padding: 2rem 0;
}
nav img {
    width: 4rem;
}
nav input {
    width: 30%;
    padding-left: 1rem;
    border-radius: 2rem;
}
.film {
    width: 25rem;
    overflow: hidden;
    height: 50rem;
    border-radius: 3rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border: thin solid black;
    align-self: center;
}
.film p {
    border-radius: 0.8rem;
    padding: 0.5rem;
    background-color: rgb(201, 201, 201);
}
.film img {
    width: 100%;
}
.categories {
    display: flex;
    justify-content: space-around;
}
.but {
    text-align: center;
}
.film button {
    width: 90%;
    padding: 1rem;
border-radius: 1.6rem;
background-color: rgb(63, 113, 63);
color: white;
margin-top: 1.6rem
}

main {
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}
